{% extends "base.html" %}

{% block content %}
    <div class="details-container">
        <h1>Szczegóły zamówienia {{ zamowienie.id_zamowienia }}</h1>

        <p><strong>Rodzaj paliwa:</strong> {{ zamowienie.rodzaj_paliwa }}</p>
        <p><strong>Ilość paliwa:</strong> {{ zamowienie.ilosc_paliwa }} litrów</p>
        <p><strong>Uwagi:</strong> {{ zamowienie.uwagi|default:"Brak uwag" }}</p>
        <p><strong>Status:</strong> {{ zamowienie.status }}</p>
        <p><strong>Data zamówienia:</strong> {{ zamowienie.data_zamowienia|date:"d-m-Y H:i" }}</p>

        <div class="button-container">
            <form method="POST">
                {% csrf_token %}
                <button class="styled-button" type="submit">Zatwierdź zamówienie</button>
            </form>
            <form action="{% url 'strona_po_zalogowaniu' %}" method="get">
                <button class="styled-button" type="submit">Powrót do strony głównej</button>
            </form>
        </div>
    </div>
{% endblock %}
