{% extends "base.html" %}

{% block content %}
    <h1>Lista cystern</h1>

    {% if cysterny %}
    <table style="width: 100%; border-collapse: collapse; margin-bottom: 20px;">
        <thead>
            <tr style="background-color: #f2f2f2; height: 40px;">
                <th style="padding: 10px; border: 1px solid #ddd; text-align: left;">Numer rejestracyjny</th>
                <th style="padding: 10px; border: 1px solid #ddd; text-align: left;">Pojemność</th>
                <th style="padding: 10px; border: 1px solid #ddd; text-align: left;">Data przeglądu</th>
                <th style="padding: 10px; border: 1px solid #ddd; text-align: left; width: 100px;">Akcja</th>
            </tr>
        </thead>
        <tbody>
            {% for cysterna in cysterny %}
                <tr style="height: 40px;">
                    <td style="padding: 10px; border: 1px solid #ddd;">{{ cysterna.numer_rejestracyjny }}</td>
                    <td style="padding: 10px; border: 1px solid #ddd;">{{ cysterna.pojemnosc }} L</td>
                    <td style="padding: 10px; border: 1px solid #ddd;">{{ cysterna.data_przegladu|date:"d-m-Y" }}</td>
                    <td style="padding: 10px; border: 1px solid #ddd;">
                        <form action="{% url 'zmien_dane_cysterny' cysterna.id_cysterny %}" method="get">
                            <button class="styled-button" type="submit">Edytuj</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    {% else %}
        <p>Brak cystern do wyświetlenia.</p>
    {% endif %}

    <div style="text-align: center;">
        <form action="{% url 'strona_po_zalogowaniu' %}" method="get">
            <button class="styled-button" type="submit">Powrót do strony głównej</button>
        </form>
    </div>

{% endblock %}
