{% extends "base.html" %}

{% block content %}
    <h1>Aktualne zamówienia</h1>

    {% if zamowienia %}
        <table style="width: 100%; border-collapse: collapse; margin-bottom: 20px;">
            <thead>
                <tr style="background-color: #f2f2f2; height: 40px;">
                    <th style="padding: 10px; border: 1px solid #ddd; text-align: left;">ID Zamówienia</th>
                    <th style="padding: 10px; border: 1px solid #ddd; text-align: left;">Rodzaj paliwa</th>
                    <th style="padding: 10px; border: 1px solid #ddd; text-align: left;">Ilość paliwa</th>
                    <th style="padding: 10px; border: 1px solid #ddd; text-align: left;">Kierowca</th>
                    <th style="padding: 10px; border: 1px solid #ddd; text-align: left;">Cysterna</th>
                    <th style="padding: 10px; border: 1px solid #ddd; text-align: left;">Data zamówienia</th>
                    <th style="padding: 10px; border: 1px solid #ddd; text-align: left;">Uwagi</th>
                    <th style="padding: 10px; border: 1px solid #ddd; text-align: left;">Akcja</th>
                </tr>
            </thead>
            <tbody>
                {% for zamowienie in zamowienia %}
                    <tr style="height: 40px;">
                        <td style="padding: 10px; border: 1px solid #ddd;">{{ zamowienie.id_zamowienia }}</td>
                        <td style="padding: 10px; border: 1px solid #ddd;">{{ zamowienie.rodzaj_paliwa }}</td>
                        <td style="padding: 10px; border: 1px solid #ddd;">{{ zamowienie.ilosc_paliwa }} L</td>
                        <td style="padding: 10px; border: 1px solid #ddd;">
                            {{ zamowienie.kierowca.imie }} {{ zamowienie.kierowca.nazwisko }}
                        </td>
                        <td style="padding: 10px; border: 1px solid #ddd;">
                            {{ zamowienie.cysterna.numer_rejestracyjny }}
                        </td>
                        <td style="padding: 10px; border: 1px solid #ddd;">
                            {{ zamowienie.data_zamowienia|date:"d-m-Y H:i" }}
                        </td>
                        <td style="padding: 10px; border: 1px solid #ddd;">{{ zamowienie.uwagi }}</td>
                        <td style="padding: 10px; border: 1px solid #ddd;">
                            <form action="{% url 'szczegoly_zamowienia' zamowienie.id_zamowienia %}" method="get">
                                <button class="styled-button" type="submit">Przyjmij dostawę</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Brak aktualnych zamówień.</p>
    {% endif %}
    
    <form action="{% url 'strona_po_zalogowaniu' %}" method="get">
        <button class="styled-button" type="submit">Powrót do strony głównej</button>
    </form>
{% endblock %}
