{% extends "base.html" %}

{% block content %}
    <h1>Dodaj nowego pracownika</h1>

    <div class="form-container">
        <form method="POST">
            {% csrf_token %}
        
            <label for="imie">Imię:</label>
            <input type="text" id="imie" name="imie" required><br><br>

            <label for="nazwisko">Nazwisko:</label>
            <input type="text" id="nazwisko" name="nazwisko" required><br><br>

            <label for="login">Login:</label>
            <input type="text" id="login" name="login" required><br><br>

            <label for="haslo">Hasło:</label>
            <input type="password" id="haslo" name="haslo" required><br><br>

            <label for="numer_kontaktowy">Numer kontaktowy:</label>
            <input type="text" id="numer_kontaktowy" name="numer_kontaktowy" required><br><br>

            <button type="submit" class="styled-button">Dodaj pracownika</button>
        </form>

        <div class="button-container">

            <form action="{% url 'strona_po_zalogowaniu' %}" method="get">
                <button type="submit" class="styled-button">Powrót do strony głównej</button>
            </form>
        </div>
    </div>
{% endblock %}
