{% extends "base.html" %}

{% block content %}
    <h1>{{ komunikat }}</h1>
    <p>ID Stacji: {{ id_stacji }}</p>

    <h2>Funkcje pracownika:</h2>

    <div class="form-container">
        <form action="{% url 'zamowienie_paliwa' %}" method="get">
            <button class="styled-button" type="submit">Zamów dostawę paliwa</button>
        </form>

        <form action="{% url 'aktualne_zamowienia' %}" method="get">
            <button class="styled-button" type="submit">Aktualne zamówienia</button>
        </form>

        <form action="{% url 'historia_zamowien' %}" method="get">
            <button class="styled-button" type="submit">Historia zamówień</button>
        </form>

        <form action="{% url 'wyloguj' %}" method="post">
            {% csrf_token %}
            <button class="styled-button" type="submit">Wyloguj</button>
        </form>
    </div>

{% endblock %}
